# Database Configuration
POSTGRESQL_DATABASE=
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=

# API Configuration
ASPNETCORE_URLS=http://+:8080
ASPNETCORE_ENVIRONMENT=Development
DatabaseConnectionString=
APP_ENVIRONMENT=dev

# CORS Configuration
CORS_DOMAIN=http://localhost:9080

# Docker Compose Project Name
COMPOSE_PROJECT_NAME=csb-exhibit-submissions
